<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fontdiner Swanky' rel='stylesheet'>

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="burger.css" type="text/css" />
	<title>Burgerfest Menu</title>
</head>

<body>
	<img src="img/burger.jpg" width="400px" id="img_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© Twin Ray Productions</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/twinray">Reference </a>
			</div>
		</div>
	</footer>
</body>
</html>
